= Haml::Engine.new(File.read('header.haml')).render

/ Container
/ =========
\<div class="cp-container">

/ Sidebar
/ =======
= Haml::Engine.new(File.read('sidebar.haml')).render
/ End Sidebar

/ Right Block
/ ===========
\<div class="cp-right-block">

/ Topbar
/ ======
= Haml::Engine.new(File.read('topbar.haml')).render
/ End Topbar

/ Content
/ =======
\<div class="cp-content">

/ Breadcrumb
%ol.cp-breadcrumb
  %li.cp-breadcrumb-item
    %a(href="index.html") Home
  %li.cp-breadcrumb-item.active Customer Dashboard
/ End Breadcrumb

/ Flexbox Layout
.cp-flex.cp-customer-dashboard
  / Total Customer
  .cp-flex-item.cp-flex-equal.cp-flex-1of3
    .cp-flex-content.cp-card
      %header
        .cp-card-title
          .cp-typo-title Total Customer

      .cp-dashboard
        %i.cp-icn-total-customer
        .cp-typo-dashboard-count 1465
        .cp-typo-dashboard-title Customer

  / Customer Status
  .cp-flex-item.cp-flex-equal.cp-flex-1of3
    .cp-flex-content.cp-card
      %header
        .cp-card-title
          .cp-typo-title Customer Status

      .cp-dashboard
        .cp-chart-pie
          %canvas#customer-status(width="200" height="200" )

  / System Status
  .cp-flex-item.cp-flex-equal.cp-flex-1of3
    .cp-flex-content.cp-card
      %header
        .cp-card-title
          .cp-typo-title System Status

      .cp-dashboard
        .cp-chart-doughnut
          %canvas#customer-system-status(width="200" height="200" )
          .cp-dashboard-icn-center
            %i.cp-icn-active-customer
        .cp-typo-dashboard-subcount 987
        .cp-typo-code Active Customer

  // New Customer
  .cp-flex-item.cp-flex-2of3
    .cp-flex-content.cp-card
      %header
        .cp-card-title
          .cp-typo-title New Customer
        .cp-card-config
          .btn-group.cp-btn-group
            %button.btn.cp-btn-white(type="button" ) Year
            %button.btn.cp-btn-white(type="button" ) Month
            %button.btn.cp-btn-white.active(type="button" ) Week

      .cp-dashboard
        .cp-chart-full
          %canvas#customer-new-customer(width="1200" height="500" )

  / Booking Status
  .cp-flex-item.cp-flex-equal.cp-flex-1of3
    .cp-flex-content.cp-card
      %header
        .cp-card-title
          .cp-typo-title Customer Booking

      .cp-dashboard
        .cp-typo-dashboard-subcount 1204
        .cp-typo-code Booked
        %progress.cp-progress(max="1465" value="1204" )
        .cp-typo-dashboard-subcount.cp-second 261
        .cp-typo-code Never Book

  / Top Customer
  .cp-flex-item.cp-flex-1of1
    .cp-flex-content.cp-card
      %header
        .cp-card-title
          .cp-typo-title Top Customer
      .scrollable
        %table.table.cp-table-list
          %thead
            %tr
              %th &nbsp;
              %th &nbsp;
              %th.cp-thead-small &nbsp;
              %th NAME
              %th CUSTOMER CODE
              %th BOOKED
              %th PHONE
              %th ADDRESS
          %tbody.have-avatar
            %tr
              %td.online &nbsp;
              %td 1
              %td
                .cp-image-rec56
                  %img(src="../images/thang-tran.png" alt="Avatar" )
              %td Thang Tran
              %td CT85312
              %td 212
              %td 0123458211
              %td Him Lam Cho Lon, Ward 11, District 6, Ho Chi Minh City
            %tr
              %td &nbsp;
              %td 2
              %td
                .cp-image-rec56
                  %img(src="../images/thang-tran.png" alt="Avatar" )
              %td Thang Tran
              %td CT85312
              %td 212
              %td 0123458211
              %td Him Lam Cho Lon, Ward 11, District 6, Ho Chi Minh City
            %tr
              %td.online &nbsp;
              %td 3
              %td
                .cp-image-rec56
                  %img(src="../images/thang-tran.png" alt="Avatar" )
              %td Thang Tran
              %td CT85312
              %td 212
              %td 0123458211
              %td Him Lam Cho Lon, Ward 11, District 6, Ho Chi Minh City
            %tr
              %td.online &nbsp;
              %td 4
              %td
                .cp-image-rec56
                  %img(src="../images/thang-tran.png" alt="Avatar" )
              %td Thang Tran
              %td CT85312
              %td 212
              %td 0123458211
              %td Him Lam Cho Lon, Ward 11, District 6, Ho Chi Minh City
            %tr
              %td &nbsp;
              %td 5
              %td
                .cp-image-rec56
                  %img(src="../images/thang-tran.png" alt="Avatar" )
              %td Thang Tran
              %td CT85312
              %td 212
              %td 0123458211
              %td Him Lam Cho Lon, Ward 11, District 6, Ho Chi Minh City
            %tr
              %td &nbsp;
              %td 6
              %td
                .cp-image-rec56
                  %img(src="../images/thang-tran.png" alt="Avatar" )
              %td Thang Tran
              %td CT85312
              %td 212
              %td 0123458211
              %td Him Lam Cho Lon, Ward 11, District 6, Ho Chi Minh City
            %tr
              %td &nbsp;
              %td 7
              %td
                .cp-image-rec56
                  %img(src="../images/thang-tran.png" alt="Avatar" )
              %td Thang Tran
              %td CT85312
              %td 212
              %td 0123458211
              %td Him Lam Cho Lon, Ward 11, District 6, Ho Chi Minh City
            %tr
              %td.online &nbsp;
              %td 8
              %td
                .cp-image-rec56
                  %img(src="../images/thang-tran.png" alt="Avatar" )
              %td Thang Tran
              %td CT85312
              %td 212
              %td 0123458211
              %td Him Lam Cho Lon, Ward 11, District 6, Ho Chi Minh City
            %tr
              %td &nbsp;
              %td 9
              %td
                .cp-image-rec56
                  %img(src="../images/thang-tran.png" alt="Avatar" )
              %td Thang Tran
              %td CT85312
              %td 212
              %td 0123458211
              %td Him Lam Cho Lon, Ward 11, District 6, Ho Chi Minh City
            %tr
              %td &nbsp;
              %td 10
              %td
                .cp-image-rec56
                  %img(src="../images/thang-tran.png" alt="Avatar" )
              %td Thang Tran
              %td CT85312
              %td 212
              %td 0123458211
              %td Him Lam Cho Lon, Ward 11, District 6, Ho Chi Minh City

/ End Flexbox Layout

\</div>
/ End Content

/ Foobar
/ ======
= Haml::Engine.new(File.read('foobar.haml')).render
/ End Foobar

\</div>
/ End Right Block

\</div>
/ End Container

= Haml::Engine.new(File.read('footer.haml')).render
