= Haml::Engine.new(File.read('header.haml')).render

/ Container
/ =========
\<div class="cp-container">

/ Sidebar
/ =======
= Haml::Engine.new(File.read('sidebar.haml')).render
/ End Sidebar

/ Right Block
/ ===========
\<div class="cp-right-block">

/ Topbar
/ ======
= Haml::Engine.new(File.read('topbar.haml')).render
/ End Topbar

/ Content
/ =======
\<div class="cp-content">

/ Breadcrumb
%ol.cp-breadcrumb
  %li.cp-breadcrumb-item
    %a(href="index.html") Home
  %li.cp-breadcrumb-item
    %a(href="customer-dashboard.html") Customer
  %li.cp-breadcrumb-item.active Create Customer
/ End Breadcrumb

/ Real Content
%form(method="post" enctype="multipart/form-data" )
  / Column Layout
  .cp-column
    / Create Customer
    .cp-column-item.cp-card
      %header
        .cp-card-title
          .cp-typo-title Create Customer

      .cp-card-content
        .cp-label avatar
        .kv-avatar
          %input.cp-upimage.file-loading(name="cleaner-avatar" type="file" )
        .cp-label first name
        %input(type="text" placeholder="Enter first name" )
        .cp-label last name
        %input(type="text" placeholder="Enter last name" )
        .cp-label display name
        %input(type="text" placeholder="Enter display name" )
        .cp-label email
        %input(type="email" placeholder="Enter email" )
        .cp-label password
        %input(type="password" placeholder="Enter password" )
        .cp-label retype password
        %input(type="password" placeholder="Retype password" )
        .cp-label phone
        %input(type="text" placeholder="Enter phone number" )
        .cp-label Gender
        %select
          %option Male
          %option Female
        .cp-label date of birth
        .cp-date
          %select
            %option(disabled selected) Day
            %option 1
            %option 2
            %option 3
            %option 4
            %option 5
            %option 6
            %option 7
            %option 8
            %option 9
            %option 10
            %option 11
            %option 12
          %select
            %option(disabled selected) Month
            %option 1
            %option 2
            %option 3
            %option 4
            %option 5
            %option 6
            %option 7
            %option 8
            %option 9
            %option 10
            %option 11
            %option 12
          %select
            %option(disabled selected) Year
            %option 1990
            %option 1991
            %option 1992
            %option 1993
            %option 1994
            %option 1995
            %option 1996
            %option 1997
            %option 1998
            %option 1999
            %option 2000
        .cp-label description
        %textarea(placeholder="Enter description" )

    / Fake Column Item
    .cp-column-item-fake

    / Verified
    .cp-column-item.cp-card
      %header
        .cp-card-title
          .cp-typo-title Verified

      .cp-card-content
        .cp-label is verified?
        .cp-is
          %input#is-verified-customer(type="checkbox" checked )
          %label.checkbox(for="is-verified-customer")

    / Address
    .cp-column-item.cp-cutout.cp-card
      %header
        .cp-card-title
          .cp-typo-title Address

      .cp-card-content
        -#.cp-label is default?
        -#.cp-is
        -#  %input#is-default-customer(type="checkbox" checked )
        -#  %label.checkbox(for="is-default-customer")
        .cp-label address
        %input(type="text" placeholder="Enter address" )
        .cp-label type
        %input(type="text" placeholder="Eg: Home, Company..." )
        .cp-label country
        %select(disabled)
          %option Viet Nam
        .cp-label province
        %select(disabled)
          %option Ho Chi Minh
        .cp-label district
        %select
          %option(disabled selected) Select one
          %option 1
          %option 2
          %option 3
          %option 4
          %option 5
          %option 6
          %option 7
          %option 8
          %option 9
          %option 10
          %option 11
          %option 12
        .cp-label ward
        %select
          %option(disabled selected) Select one
          %option 1
          %option 2
          %option 3
          %option 4
          %option 5
          %option 6
          %option 7
          %option 8
          %option 9
          %option 10
          %option 11
          %option 12
  / End Column Layout

  / Column Layout
  .cp-column
    / Action
    .cp-column-item.cp-card
      %header
        .cp-card-title
          .cp-typo-title Action

      .cp-card-content
        .cp-label status
        %select
          %option Active
          %option Deactive
        %button.cp-btn.cp-btn-success(type="submit" ) Create
  / End Column Layout

\</div>
/ End Content

/ Foobar
/ ======
= Haml::Engine.new(File.read('foobar.haml')).render
/ End Foobar

\</div>
/ End Right Block

\</div>
/ End Container

= Haml::Engine.new(File.read('footer.haml')).render
