= Haml::Engine.new(File.read('header.haml')).render

/ Container
/ =========
\<div class="cp-container">

/ Sidebar
/ =======
= Haml::Engine.new(File.read('sidebar.haml')).render
/ End Sidebar

/ Right Block
/ ===========
\<div class="cp-right-block">

/ Topbar
/ ======
= Haml::Engine.new(File.read('topbar.haml')).render
/ End Topbar

/ Content
/ =======
\<div class="cp-content">

/ Breadcrumb
%ol.cp-breadcrumb
  %li.cp-breadcrumb-item
    %a(href="index.html") Home
  %li.cp-breadcrumb-item
    %a(href="user-dashboard.html") User
  %li.cp-breadcrumb-item.active List User

/ Modal
#cp-modal-delete.modal.fade(tabindex="-1" role="dialog" )
  .modal-dialog(role="document")
    .cp-modal-content
      .cp-modal-header
        %i.cp-icn-modal-warning
        .cp-modal-title Are you sure?
        .cp-modal-subtitle You will not able to recover this cleaner!
      .cp-modal-footer
        %button.cp-btn.cp-btn-danger(type="button" ) Yes
        %button.cp-btn.cp-btn-success(type="button" data-dismiss="modal" ) No
/ End Modal

/ Float Container
\<div class="cp-flex">
.cp-flex-item.cp-flex-1of1
  .cp-flex-content.cp-card
    %header
      .cp-card-title
        .cp-typo-title List User
      .cp-btn-status
        %button.cp-btn.cp-btn-success(type="button" ) Active
        %button.cp-btn.cp-btn-deactive(type="button" ) Deactive
        %button.cp-btn.cp-btn-danger(type="button" ) Block
      .cp-card-config
        .dropdown.export
          .dropdown-toggle(data-toggle="dropdown") <i class="cp-icn-export"></i> &nbsp;&nbsp;<i class="cp-icn-caret-black"></i>
          .dropdown-menu.dropdown-menu-right
            %a.dropdown-item(href="#") Excel
            %a.dropdown-item(href="#") CSV
        .split
        .total Total 200 items
        -#%select
        -#  %option 10 items
        -#  %option 20 items
        -#  %option 50 items
        -#  %option 100 items
        -#.split
        -#%input.cp-card-date(type="text" placeholder="15/10/2016" ) <i class="cp-icn-caret-black"></i>
    .scrollable
      %table.table.cp-table-list
        %thead
          %tr
            %th &nbsp;
            %th &nbsp;
            %th &nbsp;
            %th CODE
            %th NAME
            %th EMAIL
            %th DATE OF BIRTH
            %th ROLE
            %th POSITION
            %th STATUS
            %th ACTION
          %tr.filter
            %td &nbsp;
            %td
              %input#chb-all(type="checkbox")
              %label.checkbox(for="chb-all")
            %td &nbsp;
            %td
              %input.cp-input-s1(type="text")
            %td
              %input(type="text")
            %td
              %input(type="text")
            %td
              %input(type="text")
            %td
              %select.cp-table-select
                %option All
                %option Admin
                %option Moderator
                %option Member
            %td
              %select.cp-table-select
                %option All
                %option Boss
                %option Tech Manager
                %option Tech Guy
                %option Marketer
            %td
              %select.cp-table-select
                %option All
                %option Active
                %option Deactive
            %td &nbsp;
        %tbody
          %tr
            %td.online &nbsp;
            %td
              %input#chb-1(type="checkbox")
              %label.checkbox(for="chb-1")
            %td 1
            %td NV2516
            %td Toan Nguyen
            %td toan.nguyen@nexx.vn
            %td 12/12/1990
            %td Moderator
            %td Tech Guy
            %td Active
            %td.action
              %a.btn-list(href="user-detail.html" data-hover="tooltip" data-placement="top" title="View detail" ) <i class="cp-icn-view"></i>
              %a.btn-list(href="user-change-pass.html" data-hover="tooltip" data-placement="top" title="Change password" ) <i class="cp-icn-pass"></i>
              %a.btn-list(href="user-edit.html" data-hover="tooltip" data-placement="bottom" title="Edit" ) <i class="cp-icn-edit"></i>
              %a.btn-list(href="#" data-hover="tooltip" data-toggle="modal" data-target="#cp-modal-delete" data-placement="bottom" title="Delete" ) <i class="cp-icn-delete"></i>
          %tr
            %td &nbsp;
            %td
              %input#chb-2(type="checkbox")
              %label.checkbox(for="chb-2")
            %td 2
            %td NV2512
            %td Anh Nguyen
            %td anh.nguyen@nexx.vn
            %td 06/10/1990
            %td Moderator
            %td Tech Guy
            %td Active
            %td.action
              %a.btn-list(href="user-detail.html" data-hover="tooltip" data-placement="top" title="View detail" ) <i class="cp-icn-view"></i>
              %a.btn-list(href="user-change-pass.html" data-hover="tooltip" data-placement="top" title="Change password" ) <i class="cp-icn-pass"></i>
              %a.btn-list(href="user-edit.html" data-hover="tooltip" data-placement="bottom" title="Edit" ) <i class="cp-icn-edit"></i>
              %a.btn-list(href="#" data-hover="tooltip" data-toggle="modal" data-target="#cp-modal-delete" data-placement="bottom" title="Delete" ) <i class="cp-icn-delete"></i>
          %tr
            %td &nbsp;
            %td
              %input#chb-3(type="checkbox")
              %label.checkbox(for="chb-3")
            %td 3
            %td NV2587
            %td Thi Huynh
            %td thi.huynh@nexx.vn
            %td 25/07/1990
            %td Admin
            %td Tech Manager
            %td Active
            %td.action
              %a.btn-list(href="user-detail.html" data-hover="tooltip" data-placement="top" title="View detail" ) <i class="cp-icn-view"></i>
              %a.btn-list(href="user-change-pass.html" data-hover="tooltip" data-placement="top" title="Change password" ) <i class="cp-icn-pass"></i>
              %a.btn-list(href="user-edit.html" data-hover="tooltip" data-placement="bottom" title="Edit" ) <i class="cp-icn-edit"></i>
              %a.btn-list(href="#" data-hover="tooltip" data-toggle="modal" data-target="#cp-modal-delete" data-placement="bottom" title="Delete" ) <i class="cp-icn-delete"></i>
          %tr
            %td.online &nbsp;
            %td
              %input#chb-4(type="checkbox")
              %label.checkbox(for="chb-4")
            %td 4
            %td NV2587
            %td Andy Nguyen
            %td andy.nguyen@nexx.vn
            %td 22/02/1984
            %td Admin
            %td CEO
            %td Active
            %td.action
              %a.btn-list(href="user-detail.html" data-hover="tooltip" data-placement="top" title="View detail" ) <i class="cp-icn-view"></i>
              %a.btn-list(href="user-change-pass.html" data-hover="tooltip" data-placement="top" title="Change password" ) <i class="cp-icn-pass"></i>
              %a.btn-list(href="user-edit.html" data-hover="tooltip" data-placement="bottom" title="Edit" ) <i class="cp-icn-edit"></i>
              %a.btn-list(href="#" data-hover="tooltip" data-toggle="modal" data-target="#cp-modal-delete" data-placement="bottom" title="Delete" ) <i class="cp-icn-delete"></i>
            %tr
            %td.online &nbsp;
            %td
              %input#chb-5(type="checkbox")
              %label.checkbox(for="chb-5")
            %td 5
            %td NV2516
            %td Toan Nguyen
            %td toan.nguyen@nexx.vn
            %td 12/12/1990
            %td Moderator
            %td Tech Guy
            %td Active
            %td.action
              %a.btn-list(href="user-detail.html" data-hover="tooltip" data-placement="top" title="View detail" ) <i class="cp-icn-view"></i>
              %a.btn-list(href="user-change-pass.html" data-hover="tooltip" data-placement="top" title="Change password" ) <i class="cp-icn-pass"></i>
              %a.btn-list(href="user-edit.html" data-hover="tooltip" data-placement="bottom" title="Edit" ) <i class="cp-icn-edit"></i>
              %a.btn-list(href="#" data-hover="tooltip" data-toggle="modal" data-target="#cp-modal-delete" data-placement="bottom" title="Delete" ) <i class="cp-icn-delete"></i>
          %tr
            %td &nbsp;
            %td
              %input#chb-6(type="checkbox")
              %label.checkbox(for="chb-6")
            %td 6
            %td NV2512
            %td Anh Nguyen
            %td anh.nguyen@nexx.vn
            %td 06/10/1990
            %td Moderator
            %td Tech Guy
            %td Active
            %td.action
              %a.btn-list(href="user-detail.html" data-hover="tooltip" data-placement="top" title="View detail" ) <i class="cp-icn-view"></i>
              %a.btn-list(href="user-change-pass.html" data-hover="tooltip" data-placement="top" title="Change password" ) <i class="cp-icn-pass"></i>
              %a.btn-list(href="user-edit.html" data-hover="tooltip" data-placement="bottom" title="Edit" ) <i class="cp-icn-edit"></i>
              %a.btn-list(href="#" data-hover="tooltip" data-toggle="modal" data-target="#cp-modal-delete" data-placement="bottom" title="Delete" ) <i class="cp-icn-delete"></i>
          %tr
            %td &nbsp;
            %td
              %input#chb-7(type="checkbox")
              %label.checkbox(for="chb-7")
            %td 7
            %td NV2587
            %td Thi Huynh
            %td thi.huynh@nexx.vn
            %td 25/07/1990
            %td Admin
            %td Tech Manager
            %td Active
            %td.action
              %a.btn-list(href="user-detail.html" data-hover="tooltip" data-placement="top" title="View detail" ) <i class="cp-icn-view"></i>
              %a.btn-list(href="user-change-pass.html" data-hover="tooltip" data-placement="top" title="Change password" ) <i class="cp-icn-pass"></i>
              %a.btn-list(href="user-edit.html" data-hover="tooltip" data-placement="bottom" title="Edit" ) <i class="cp-icn-edit"></i>
              %a.btn-list(href="#" data-hover="tooltip" data-toggle="modal" data-target="#cp-modal-delete" data-placement="bottom" title="Delete" ) <i class="cp-icn-delete"></i>
          %tr
            %td.online &nbsp;
            %td
              %input#chb-8(type="checkbox")
              %label.checkbox(for="chb-8")
            %td 8
            %td NV2587
            %td Andy Nguyen
            %td andy.nguyen@nexx.vn
            %td 22/02/1984
            %td Admin
            %td CEO
            %td Active
            %td.action
              %a.btn-list(href="user-detail.html" data-hover="tooltip" data-placement="top" title="View detail" ) <i class="cp-icn-view"></i>
              %a.btn-list(href="user-change-pass.html" data-hover="tooltip" data-placement="top" title="Change password" ) <i class="cp-icn-pass"></i>
              %a.btn-list(href="user-edit.html" data-hover="tooltip" data-placement="bottom" title="Edit" ) <i class="cp-icn-edit"></i>
              %a.btn-list(href="#" data-hover="tooltip" data-toggle="modal" data-target="#cp-modal-delete" data-placement="bottom" title="Delete" ) <i class="cp-icn-delete"></i>
            %tr
            %td &nbsp;
            %td
              %input#chb-9(type="checkbox")
              %label.checkbox(for="chb-9")
            %td 9
            %td NV2587
            %td Thi Huynh
            %td thi.huynh@nexx.vn
            %td 25/07/1990
            %td Admin
            %td Tech Manager
            %td Active
            %td.action
              %a.btn-list(href="user-detail.html" data-hover="tooltip" data-placement="top" title="View detail" ) <i class="cp-icn-view"></i>
              %a.btn-list(href="user-change-pass.html" data-hover="tooltip" data-placement="top" title="Change password" ) <i class="cp-icn-pass"></i>
              %a.btn-list(href="user-edit.html" data-hover="tooltip" data-placement="bottom" title="Edit" ) <i class="cp-icn-edit"></i>
              %a.btn-list(href="#" data-hover="tooltip" data-toggle="modal" data-target="#cp-modal-delete" data-placement="bottom" title="Delete" ) <i class="cp-icn-delete"></i>
          %tr
            %td.online &nbsp;
            %td
              %input#chb-10(type="checkbox")
              %label.checkbox(for="chb-10")
            %td 10
            %td NV2587
            %td Andy Nguyen
            %td andy.nguyen@nexx.vn
            %td 22/02/1984
            %td Admin
            %td CEO
            %td Active
            %td.action
              %a.btn-list(href="user-detail.html" data-hover="tooltip" data-placement="top" title="View detail" ) <i class="cp-icn-view"></i>
              %a.btn-list(href="user-change-pass.html" data-hover="tooltip" data-placement="top" title="Change password" ) <i class="cp-icn-pass"></i>
              %a.btn-list(href="user-edit.html" data-hover="tooltip" data-placement="bottom" title="Edit" ) <i class="cp-icn-edit"></i>
              %a.btn-list(href="#" data-hover="tooltip" data-toggle="modal" data-target="#cp-modal-delete" data-placement="bottom" title="Delete" ) <i class="cp-icn-delete"></i>

      %ul.cp-pagination
        %li.cp-pagination-item
          %a.cp-pagination-link.disable(href="#") &laquo;
        %li.cp-pagination-item
          %a.cp-pagination-link.active(href="#" ) 1
        %li.cp-pagination-item
          %a.cp-pagination-link(href="#" ) 2
        %li.cp-pagination-item
          %a.cp-pagination-link(href="#" ) 3
        %li.cp-pagination-item
          %a.cp-pagination-link(href="#" ) 4
        %li.cp-pagination-item
          %a.cp-pagination-link(href="#" ) 5
        %li.cp-pagination-item
          %a.cp-pagination-link(href="#" ) &raquo;

\</div>
/ End Float Container

\</div>
/ End Content

/ Foobar
/ ======
= Haml::Engine.new(File.read('foobar.haml')).render
/ End Foobar

\</div>
/ End Right Block

\</div>
/ End Container

= Haml::Engine.new(File.read('footer.haml')).render

