= Haml::Engine.new(File.read('header.haml')).render

/ Container
/ =========
\<div class="cp-container">

/ Sidebar
/ =======
= Haml::Engine.new(File.read('sidebar.haml')).render
/ End Sidebar

/ Right Block
/ ===========
\<div class="cp-right-block">

/ Topbar
/ ======
= Haml::Engine.new(File.read('topbar.haml')).render
/ End Topbar

/ Content
/ =======
\<div class="cp-content">

/ Breadcrumb
%ol.cp-breadcrumb
  %li.cp-breadcrumb-item
    %a(href="index.html") Home
  %li.cp-breadcrumb-item
    %a(href="user-dashboard.html") User
  %li.cp-breadcrumb-item
    %a(href="user-list-user.html") List User
  %li.cp-breadcrumb-item.active User Detail
/ End Breadcrumb

/ Content Flex
\<div class="cp-content-flex">

.cp-flex-3.cp-card
  %header
    .cp-card-summary.online
      .cp-detail-avatar
        %img(src="../images/lady-killer.png" alt="User Avatar" )
      .cp-detail-summary-info
        .cp-typo-code NV2513
        .cp-typo-name Lady Killer
        .cp-typo-text Admin
    %hr
    %table.cp-card-detail
      %tr
        %td Email:
        %td lady_killer@nexx.vn
      %tr
        %td Date of Birth:
        %td 15/10/1991
      %tr
        %td Gender:
        %td
          %img(src="../images" )
      %tr
        %td Email:
        %td lady_killer@nexx.vn
      %tr
        %td Email:
        %td lady_killer@nexx.vn
      %tr
        %td Email:
        %td lady_killer@nexx.vn
      %tr
        %td Email:
        %td lady_killer@nexx.vn
      %tr
        %td Email:
        %td lady_killer@nexx.vn
      %tr
        %td Email:
        %td lady_killer@nexx.vn



  .cp-card-content.cp-cart-detail


\</div>
/ End Content Flex

\</div>
/ End Content

/ Foobar
/ ======
= Haml::Engine.new(File.read('foobar.haml')).render
/ End Foobar

\</div>
/ End Right Block

\</div>
/ End Container

= Haml::Engine.new(File.read('footer.haml')).render